<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User Reviews</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'book_review_app/css/user_style.css' %}">
</head>
<body>
    <div class="container">
        <div class="banner">
            <a class="home" href="/books">Home</a>
            <a class="add" href="/books/add">Add Book and Review</a>
            <a class="logout" href="/logout">Logout</a>
        </div>
        <div class="user_info">
            <h2 class="welcome">User Alias: {{first_name}}!</h2>
            <h4>Name: {{first_name}} {{last_name}}</h4>
            <h4>Email: {{email}}</h4>
            <h4>Total Reviews: {{total_reviews}}</h4>
        </div>
        <div class="reviews">
            <h4>Posted Reviews on the following books:</h4>
            {% for review in reviews %}
            <a class="block" href="/books/{{review.book_id}}">{{review.title}}</a>
            {% endfor %}
        </div>
    </div>
</body>
</html>