* {margin: 0px; padding:0px;}
div.banner {margin-top: 30px; margin-left: 460px;}
h2 {margin-top: 40px;}
.logout {margin-left: 80px;}
form {margin-left: 40px; margin-top: 40px;}
button {margin-left: 400px;}
div.errors h6 {color: red; font: bold;}
div.errors {margin-left: 40px;}